.sign_in{
    width: 30%;
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    background-color: #000;
    border-radius: 0 20% 0 20%;
}
.sign_up{
    width: 30%;
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    background-color: #000;
    border-radius: 0 20% 0 20%;
}
.center{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
.link{
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}