.sign_in{
    width: 400px;
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    background-color: #000;
    border-radius: 0 20% 0 20%;
}
.center{
    display: flex;
    height: 95vh;
    width: 95vw;
    justify-content: center;
    align-items: center;
}
.link{
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

@media screen and (max-width: 600px){
    .sign_in{
        width: 85%;
        border-radius: 10px;
    }
}

@media screen and (min-height : 767px) {
    .sign_in{
        min-height: 50vh;
    }
}