.title {
    font-size: 2rem;
    font-weight: bolder;
    text-decoration: underline;
    text-transform: uppercase;
    text-align: center;
    margin-top: 4rem;
}

.oneElement {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 2rem;
}

.button {
    background-color: #000;
    border: 1px solid #000;
    color: #fff;
    padding: 0.7rem;
    font-size: larger;
    font-weight: bolder;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 0.3rem;
    width: 100%;
}