.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #000;
    width: 100%;
    position: fixed;
    z-index: 1000;
    top: 0;
}

.navbar_brand {
    font-size: 2rem;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    padding: 0.5rem 1rem;
    letter-spacing: 0.5rem;
    text-decoration: none;
    cursor: pointer;
}

.navbar_nav {
    display: flex;
    align-items: center;
    list-style: none;
}

.dropdown {
    display: none;
    background: transparent;
    border: none;
    outline: none;
}

@media screen and (max-width: 900px) {
    .navbar_brand {
        font-size: 1.3rem;
        letter-spacing: 0.5rem;
        padding: 1rem;
    }
}

@media screen and (max-width: 750px) {
    .dropdown {
        display: block;
    }

    .navbar {
        display: grid;
        grid-template-columns: 1fr 2fr 1.5fr;
        grid-column-gap: 1rem;
    }

    .navbar_brand {
        font-size: 1rem;
        letter-spacing: 0rem;
    }
}