.card{
    background-color: #000;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    width : 15%;
    margin: 0% 0.7%;
    cursor: pointer;
}
.poster{
    width : 100%;
    background-size : cover;
    background-position : center;
    background-repeat : no-repeat;
}
.card_content{
    color: #FFF;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0;
    margin: 0;
}
.card_content li{
    padding: 0.2rem;
    margin: 0;
    text-align: left;
    font-weight: 500;
    font-size: 0.6rem;
}
#title{
    font-size: 0.9rem;
    font-weight: bolder;
}