.custom_button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px 0 15px 0;
  color: #fff;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  margin: 2rem 0 0.7rem 0;
  width: 100%;
  height: 50px;
  background-color: rgba(248, 69, 159, 0.4);
  border: none;
  outline: none;
}