.center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.watchlist_button{
    width: 70%;
    border-radius: 5px;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 0.5rem 1rem;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    border: none;
    outline: none;
    background-color: #fff;
}